flows.json
[
    {
        "id": "4c149cb6c43b3bc4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "78ee8651.692618",
        "type": "inject",
        "z": "4c149cb6c43b3bc4",
        "name": "Request Weather Data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1200",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payloadType": "date",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "f0f273bd.ed46e",
                "3c519abc344f9f68"
            ]
        ]
    },
    {
        "id": "f0f273bd.ed46e",
        "type": "http request",
        "z": "4c149cb6c43b3bc4",
        "name": "Current Weather",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://api.openweathermap.org/data/2.5/weather?q=Dayton,US&units=imperial&APPID=8bd388b0c8f325a69042627b2f6ea217",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 460,
        "y": 180,
        "wires": [
            [
                "294c54f6.e5b17c",
                "9ec7b5a5.4504b8",
                "65a155ad114af6d7",
                "2a6a7610ad5f6506"
            ]
        ]
    },
    {
        "id": "294c54f6.e5b17c",
        "type": "function",
        "z": "4c149cb6c43b3bc4",
        "name": "Temperature (F)",
        "func": "var weather=JSON.parse(msg.payload);\nvar newMsg = { payload: weather.main.temp };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 180,
        "wires": [
            [
                "650f3bae.4ea624",
                "ae046211adbce548"
            ]
        ]
    },
    {
        "id": "650f3bae.4ea624",
        "type": "debug",
        "z": "4c149cb6c43b3bc4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 100,
        "wires": []
    },
    {
        "id": "9ec7b5a5.4504b8",
        "type": "function",
        "z": "4c149cb6c43b3bc4",
        "name": "Sunset Time",
        "func": "var weather=JSON.parse(msg.payload);\n\n// Create new JavaScript Date object from timestamp\n// multiply by 1000 so argument is milliseconds, not seconds.\nvar date = new Date(weather.sys.sunset * 1000);\nvar hours = date.getHours();\n\n// add leading 0 to handle single digits\nvar minutes = \"0\" + date.getMinutes();\nvar seconds = \"0\" + date.getSeconds();\n\n// Format time like this: 12:45:23 \n// Use last 2 digits, so leading zero gets cut off for double digit numbers.\nvar formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);\n\n// Create string with embedded data\nvar newMsg = { payload: formattedTime };\n \n// Return formatted message string\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 300,
        "wires": [
            [
                "650f3bae.4ea624",
                "4c77a60071083070",
                "6cf8886bd52be58f"
            ]
        ]
    },
    {
        "id": "ae046211adbce548",
        "type": "ui_chart",
        "z": "4c149cb6c43b3bc4",
        "name": "Temperature (F)",
        "group": "88cad0d0b5b86a01",
        "order": 1,
        "width": 9,
        "height": 6,
        "label": "Temperature (F)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1120,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4c77a60071083070",
        "type": "ui_chart",
        "z": "4c149cb6c43b3bc4",
        "name": "Sunset",
        "group": "88cad0d0b5b86a01",
        "order": 11,
        "width": 9,
        "height": 7,
        "label": "Sunset",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "65a155ad114af6d7",
        "type": "function",
        "z": "4c149cb6c43b3bc4",
        "name": "Humidity",
        "func": "var weather=JSON.parse(msg.payload);\nvar newMsg = { payload: weather.main.humidity };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 220,
        "wires": [
            [
                "650f3bae.4ea624",
                "c06dd6eea9067bfd"
            ]
        ]
    },
    {
        "id": "2a6a7610ad5f6506",
        "type": "function",
        "z": "4c149cb6c43b3bc4",
        "name": "Sunrise Time",
        "func": "var weather=JSON.parse(msg.payload);\n\n// Create new JavaScript Date object from timestamp\n// multiply by 1000 so argument is milliseconds, not seconds.\nvar date = new Date(weather.sys.sunrise * 1000);\nvar hours = date.getHours();\n\n// add leading 0 to handle single digits\nvar minutes = \"0\" + date.getMinutes();\nvar seconds = \"0\" + date.getSeconds();\n\n// Format time like this: 12:45:23 \n// Use last 2 digits, so leading zero gets cut off for double digit numbers.\nvar formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);\n\n// Create string with embedded data\nvar newMsg = { payload: formattedTime };\n \n// Return formatted message string\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 260,
        "wires": [
            [
                "650f3bae.4ea624",
                "b8a2fade06673620"
            ]
        ]
    },
    {
        "id": "c06dd6eea9067bfd",
        "type": "ui_chart",
        "z": "4c149cb6c43b3bc4",
        "name": "Humidity",
        "group": "88cad0d0b5b86a01",
        "order": 3,
        "width": 9,
        "height": 6,
        "label": "Humidity (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "b8a2fade06673620",
        "type": "ui_chart",
        "z": "4c149cb6c43b3bc4",
        "name": "Sunrise",
        "group": "88cad0d0b5b86a01",
        "order": 9,
        "width": 9,
        "height": 7,
        "label": "Sunrise",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "3c519abc344f9f68",
        "type": "http request",
        "z": "4c149cb6c43b3bc4",
        "name": "Forecasted Weather",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "api.openweathermap.org/data/2.5/forecast?q=Dayton,US&units=imperial&APPID=8bd388b0c8f325a69042627b2f6ea217",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 460,
        "y": 380,
        "wires": [
            [
                "9a524b9c75c34163"
            ]
        ]
    },
    {
        "id": "29ab081244d3c328",
        "type": "function",
        "z": "4c149cb6c43b3bc4",
        "name": "Temperature (F)",
        "func": "var weather=JSON.parse(msg.payload);\nvar newMsg = { payload: weather.list[0].main.temp };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "ea2759a8c2eee455",
        "type": "debug",
        "z": "4c149cb6c43b3bc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 380,
        "wires": []
    },
    {
        "id": "9a524b9c75c34163",
        "type": "function",
        "z": "4c149cb6c43b3bc4",
        "name": "",
        "func": "var weather=JSON.parse(msg.payload);\nvar weatherData = {};\n\nweatherData.payload = {\n    forecast: {\n        dt00: {\n            // dt: weather.list[0].dt,\n            temp: weather.list[0].main.temp,\n            // humidity: weather.list[0].main.humidity,\n            // desc: weather.list[0].weather[0].description\n        }\n    }\n}\n\nreturn weatherData;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 380,
        "wires": [
            [
                "ea2759a8c2eee455",
                "0238af43e66fdb01"
            ]
        ]
    },
    {
        "id": "0238af43e66fdb01",
        "type": "ui_chart",
        "z": "4c149cb6c43b3bc4",
        "name": "",
        "group": "5ddc63c1e90a0f64",
        "order": 17,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "6cf8886bd52be58f",
        "type": "influxdb out",
        "z": "4c149cb6c43b3bc4",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1240,
        "y": 340,
        "wires": []
    },
    {
        "id": "1b0468e919987941",
        "type": "ui_spacer",
        "z": "4c149cb6c43b3bc4",
        "name": "spacer",
        "group": "88cad0d0b5b86a01",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "85fad55745fe5b8a",
        "type": "ui_spacer",
        "z": "4c149cb6c43b3bc4",
        "name": "spacer",
        "group": "88cad0d0b5b86a01",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "a8706531daf16bdf",
        "type": "ui_spacer",
        "z": "4c149cb6c43b3bc4",
        "name": "spacer",
        "group": "88cad0d0b5b86a01",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "58773999586aca83",
        "type": "ui_spacer",
        "z": "4c149cb6c43b3bc4",
        "name": "spacer",
        "group": "88cad0d0b5b86a01",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "6a2acfde8824c44c",
        "type": "ui_spacer",
        "z": "4c149cb6c43b3bc4",
        "name": "spacer",
        "group": "88cad0d0b5b86a01",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "ee7ae2f99634ea12",
        "type": "ui_spacer",
        "z": "4c149cb6c43b3bc4",
        "name": "spacer",
        "group": "88cad0d0b5b86a01",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "d596ba8c118666bb",
        "type": "ui_spacer",
        "z": "4c149cb6c43b3bc4",
        "name": "spacer",
        "group": "88cad0d0b5b86a01",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "208886fa13df92d9",
        "type": "ui_spacer",
        "z": "4c149cb6c43b3bc4",
        "name": "spacer",
        "group": "88cad0d0b5b86a01",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "951e8edf1217f535",
        "type": "ui_spacer",
        "z": "4c149cb6c43b3bc4",
        "name": "spacer",
        "group": "88cad0d0b5b86a01",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "8f493cd1a245fdc7",
        "type": "ui_spacer",
        "z": "4c149cb6c43b3bc4",
        "name": "spacer",
        "group": "88cad0d0b5b86a01",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "aea41d7704972aa4",
        "type": "ui_spacer",
        "z": "4c149cb6c43b3bc4",
        "name": "spacer",
        "group": "88cad0d0b5b86a01",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "a4508e01f1f6c013",
        "type": "ui_spacer",
        "z": "4c149cb6c43b3bc4",
        "name": "spacer",
        "group": "88cad0d0b5b86a01",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "c3ef435dcfc43f44",
        "type": "ui_spacer",
        "z": "4c149cb6c43b3bc4",
        "name": "spacer",
        "group": "88cad0d0b5b86a01",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "88cad0d0b5b86a01",
        "type": "ui_group",
        "name": "Dayton Current Weather",
        "tab": "7504cf78cc3dee0f",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ddc63c1e90a0f64",
        "type": "ui_group",
        "name": "Dayton Forecasted Weather",
        "tab": "c150561474dae720",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7504cf78cc3dee0f",
        "type": "ui_tab",
        "name": "Current Weather",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c150561474dae720",
        "type": "ui_tab",
        "name": "Forecasted Weather",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
