flows.json
[
    {
        "id": "65a8d9fa.99d648",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dda7b2c9.d8742",
        "type": "inject",
        "z": "65a8d9fa.99d648",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "922803ea.e0ebe",
                "ea96eb84.2757f8",
                "f0a4b510.441d78"
            ]
        ]
    },
    {
        "id": "bab60b77.d050b8",
        "type": "debug",
        "z": "65a8d9fa.99d648",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "922803ea.e0ebe",
        "type": "function",
        "z": "65a8d9fa.99d648",
        "name": "",
        "func": "// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "bab60b77.d050b8"
            ]
        ]
    },
    {
        "id": "ea96eb84.2757f8",
        "type": "ui_button",
        "z": "65a8d9fa.99d648",
        "name": "",
        "group": "7e6baf98.69239",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 420,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f0a4b510.441d78",
        "type": "ui_text_input",
        "z": "65a8d9fa.99d648",
        "name": "",
        "label": "Weather1",
        "tooltip": "",
        "group": "7e6baf98.69239",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 410,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "7e6baf98.69239",
        "type": "ui_group",
        "name": "Refresh Data",
        "tab": "85a5817c.1b7c5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    
    {
        "id": "85a5817c.1b7c5",
        "type": "ui_tab",
        "name": "Demo Tab Name",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
